@import "tailwindcss";

:root {
  --primary-color: #facc15;
  --secondary-color: #162a40;
  --bg-color: #e5e5e5;
}

.icon {
  background-color: hsl(48, 100%, 84%);
}

.quiz-btns {
  padding: 10px 20px;
  flex-grow: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 5px; 
  color: var(--secondary-color) ;
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.quiz-options{
  display: flex;
  align-items: center;
  gap: 10px; 
  padding: 8px 16px; 
  font-size: 1.5rem; 
  border-radius: 5px;
  margin-bottom: 10px; 
  cursor: pointer;
  transition: background-color 0.3ms ease-in-out;
  border: 2px solid var(--secondary-color);
}

.shadow{
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}

/* Quiz Component */
.quiz input[type="radio"] {
  display: none;
}

.quiz input[type="radio"]:checked + label {
  background-color: #ffe476;
  color: var(--secondary-color);
  border-color: var(--primary-color);
}

.quiz .correct {
  background-color: #85e788;
  border-color: #2c882f;
}

.quiz .incorrect {
  background-color: #e9837c;
  border-color: #d32f2f;
}

.quiz button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.quiz button svg {
  width: 20px;
  height: 20px;
}

.quiz button svg path {
  stroke: var(--secondary-color);
  stroke-width: 1.6;
}

.submit-button{
  background-color: white;  
  border: 2px solid var(--secondary-color); 
  transition: 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #2c882f;
  border-color: #236e26;
  color: white;
}

.submit-button:hover svg path {
  stroke: white;
}
